body {
    background-color: beige;
    font-family: monospace;
}

.CustomNav {
    top: 0;
    height: fit-content;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.76);
    position: sticky;
    border-radius: 25px;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: beige;
}

.OuterContainer {
    background-color: rgb(202, 202, 190);
    border-radius: 15px;
    height: 460px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 10px;
    padding-top: 140px;
}

.LeftContainer {
    width: 400px;
    float: left;
    height: 310px;
    text-align: center;
}

.RightContainer {
    width: 400px;
    float: left;
    height: 310px;
    text-align: center;
}

.OuterScoreContainer {
    background-color: rgb(46, 46, 46);
    width: 260px;
    float: left;
    height: 310px;
    padding: 0px 18px;
    text-align: center;
    border-radius: 15px;
    border: 2px black solid;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ScoreBoardID {
    height: 30px;
    margin-bottom: 15px;
}

.ScoreContainer {
    background-color: rgb(78, 78, 78);
    height: 225px;
    border: 1px black solid;
    overflow: hidden;
}

#ResultText,
.ScoreContainer li {
    padding-bottom: 4px;
    border-bottom: 1px rgb(0, 0, 0) solid;
    list-style-type: none;
    margin-bottom: 2px;
    color: aliceblue;
}

.log {
    margin: 0px 0px;
    text-align: left;
    color: aliceblue;
}

.LogContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background-color: grey;
    border-bottom: 1px black solid;
}

.reset {
    background-color: grey;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 2px 4px;
    font-family: monospace;
    cursor: pointer;
    color: rgb(212, 212, 212);
}

.reset:hover {
    color: rgb(255, 255, 255);
}

#LogBook {
    list-style: none;
    padding-left: 0px;
    margin-left: 0;
}

#LogBook li {
    text-align: left;
    padding: 0px 0px 5px 10px;
    font-size: small;
    margin-top: 3px;
}

#ResultText {
    padding: 6px;
    font-size: x-large;
    background-color: rgb(46, 46, 46);
    margin-top: 0px;
}

.LowerContainer {
    float: left;
    width: 410px;
    text-align: center;
    margin-top: 5px;
}

.RPSimg {
    height: 70px;
    background-color: white;
    border-radius: 10px;
}

.RPSbtn {
    margin: 0px 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(252, 252, 252, 1);
    padding: 5px;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animate {
    animation: bounce 0.75s ease-in-out 3;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1) translateY(0);
    }

    50% {
        transform: scale(1) translateY(-30px);
    }
}

.InnerScoreContainer {
    height: 400px;
}

#Playbtn {
    margin-top: 35px;
    height: 70px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: cursive;
    font-size: 25px;
}

#Playbtn:hover {
    background-color: rgb(212, 212, 212);
}

.log-win {
    color: rgb(63, 211, 58) !important;
}

.log-lose {
    color: rgb(230, 55, 55) !important;
}

.log-draw {
    color: rgb(211, 208, 58) !important;
}

ul li {
    font-weight: italic;
}

.opa {
    opacity: 0.6;
}